<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <caches>
      <sessionSecurityTokenCache type="bUtility.LocalTokenCache.DistributedSessionSecurityTokenCache, bUtility.LocalTokenCache">
        <distributedCacheConfiguration
          connectionString="Server=v000080009;database=internetBankingAudit;Integrated Security=SSPI;Persist Security Info=False"
          maxCacheSize="20000" 
          rollingExpiringWindowInMinutes="10"/>
      </sessionSecurityTokenCache>
      <tokenReplayCache type="bUtility.LocalTokenCache.DistributedTokenReplayCache, bUtility.LocalTokenCache">
        <distributedReplayCacheConfiguration
          connectionString="Server=v000080009;database=internetBankingAudit;Integrated Security=SSPI;Persist Security Info=False"
          maxCacheSize="20000" purgeInterval="30" />
      </tokenReplayCache>
    </caches>
    <tokenReplayDetection enabled="true"/>
    <securityTokenHandlers>
      <securityTokenHandlerConfiguration>
        <certificateValidation certificateValidationMode="None"/>
        <audienceUris>
          <add value="https://localhost/tokencacheclient/"/>
        </audienceUris>
        <issuerNameRegistry type="TokenCacheClient.ValidatingIssuerNameRegistry, TokenCacheClient">
          <authority name="simpleSTS@azure">
            <keys>
              <add thumbprint="0ef97375f7c6eaa7c2c6b282f7dc09c370ac91c6"/>
              <add thumbprint="c611058d462ca30a1e59f43942d31c61cbb51cc0"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
  </identityConfiguration>
</system.identityModel>