<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  
  
  
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" 
             type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" 
             type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings configSource="Configuration\Current\appSettings.config" />
 
  <system.web>
    <!--The <authorization> section is being configured via code. Don't make any changes here-->
    <authorization configSource="Configuration\Current\System.Web\authorization.config" />
    <httpCookies configSource="Configuration\Current\System.Web\HttpCookies.config" />
    <httpRuntime configSource="Configuration\Current\System.Web\HttpRuntime.config" />
    <compilation configSource="Configuration\Current\System.Web\Compilation.config" />
    <sessionState configSource="Configuration\Current\System.Web\SessionState.config" />
    <machineKey configSource="Configuration\Current\System.Web\MachineKey.config" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers configSource="Configuration\Current\System.WebServer\Handlers.config" />
    <modules configSource="Configuration\Current\System.WebServer\Modules.config" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions configSource="Configuration\Current\System.ServiceModel\Extensions.config" />
    <behaviors configSource="Configuration\Current\System.ServiceModel\Behaviors.config" />
    <bindings configSource="Configuration\Current\System.ServiceModel\Bindings.config" />
    <client configSource="Configuration\Current\System.ServiceModel\Client.config" />
    <diagnostics configSource="Configuration\Current\System.ServiceModel\Diagnostics.config" />
  </system.serviceModel>
  <system.identityModel configSource="Configuration\Current\System.IdentityModel.config" />
  <system.identityModel.services configSource="Configuration\Current\System.IdentityModel.Services.config" />
  <system.diagnostics configSource="Configuration\Current\System.Diagnostics.config" />
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
    <connectionManagement configSource="Configuration\Current\System.Net\ConnectionManagement.config" />
  </system.net>


</configuration>
