<?xml version="1.0"?>
  <diagnostics>
    <messageLogging
         logEntireMessage="false"
         logMalformedMessages="false"
         logMessagesAtServiceLevel="false"
         logMessagesAtTransportLevel="false"
         logKnownPii="false" 
         maxMessagesToLog="3000"
       />
  </diagnostics>