<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bUtility" version="0.0.0.7" targetFramework="net451" />
  <package id="bUtility.SecurityToken" version="0.0.0.2" targetFramework="net451" />
  <package id="bUtility.WebApi" version="0.0.0.18" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net451" />
  <package id="PersistentLib2009" version="1.1.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="4.10.2" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="4.0.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="4.10.2" targetFramework="net451" />
</packages>