<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <!--<tokenReplayDetection enabled="true"/>-->
    <securityTokenHandlers>
      <securityTokenHandlerConfiguration>
        <certificateValidation trustedStoreLocation="LocalMachine" certificateValidationMode="None"/>
        <serviceTokenResolver type="TokenCacheClient.SecurityTokenResolver, TokenCacheClient."/>
        <audienceUris>
          <add value="https://localhost/tokencacheclient/"/>
        </audienceUris>
        <issuerNameRegistry type="TokenCacheClient.ValidatingIssuerNameRegistry, TokenCacheClient">
          <authority name="simpleSTS@azure">
            <keys>
              <add thumbprint="c611058d462ca30a1e59f43942d31c61cbb51cc0"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <certificateValidation certificateValidationMode="None" trustedStoreLocation="LocalMachine"/>
  </identityConfiguration>
</system.identityModel>