<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    <caches>
      <sessionSecurityTokenCache type="bUtility.LocalTokenCache.DistributedSessionSecurityTokenCache, bUtility.LocalTokenCache">
        <distributedCacheConfiguration
          connectionString="Server=.;database=tokenCache;Integrated Security=SSPI;Persist Security Info=False"
          maxCacheSize="20000" />
      </sessionSecurityTokenCache>
      <tokenReplayCache type="bUtility.LocalTokenCache.DistributedTokenReplayCache, bUtility.LocalTokenCache">
        <distributedReplayCacheConfiguration
          connectionString="Server=.;database=tokenCache;Integrated Security=SSPI;Persist Security Info=False"
          maxCacheSize="20000" purgeInterval="30" />
      </tokenReplayCache>
    </caches>
    <tokenReplayDetection enabled="true"/>
    <securityTokenHandlers>
      <securityTokenHandlerConfiguration>
        <certificateValidation certificateValidationMode="None"/>
        <!--<serviceTokenResolver type="TokenCacheClient.SecurityTokenResolver, TokenCacheClient"/>-->
        <audienceUris>
          <add value="https://localhost/tokencacheapiTokenCacheClient/"/>
        </audienceUris>
        <issuerNameRegistry type="TokenCacheClient.ValidatingIssuerNameRegistry, TokenCacheClient">
          <authority name="simpleSTS@azure">
            <keys>
              <add thumbprint="0ef97375f7c6eaa7c2c6b282f7dc09c370ac91c6"/>
              <add thumbprint="c611058d462ca30a1e59f43942d31c61cbb51cc0"/>
            </keys>
            <validIssuers>
              <add name="simpleSTS@azure"/>
            </validIssuers>
          </authority>
        </issuerNameRegistry>
      </securityTokenHandlerConfiguration>
    </securityTokenHandlers>
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <!--<certificateValidation certificateValidationMode="None" trustedStoreLocation="LocalMachine"/>-->
  </identityConfiguration>
</system.identityModel>